In [1]:
import pandas as pd

In [3]:
dataset = "data.csv"  
df = pd.read_csv(dataset)

In [16]:
print("İlk 5 satır")
df.head(5)

İlk 5 satır

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
0,1001,2024-02-10,Laptop,Electronics,1200,1,NaN,Alice,North
1,1002,2024-02-11,Smartphone,Electronics,800,2,NaN,Bob,South
2,1003,2024-02-12,Tablet,Electronics,500,1,NaN,Charlie,West
3,1004,2024-02-13,Headphones,Accessories,100,3,NaN,Dave,East
4,1005,NaN,Monitor,Electronics,300,2,NaN,Eve,North

In [17]:
print("Son 5 satır")
df.tail(5)

Son 5 satır

,TransactionID,Date,Product,Category,Price,Quantity,TotalPrice,Customer,Region
15,1016,NaN,Webcam,Accessories,140,2,NaN,Paul,East
16,1017,2024-02-26,Laptop,Electronics,1250,1,NaN,Quinn,North
17,1018,2024-02-27,Smartphone,Electronics,820,2,NaN,NaN,South
18,1019,NaN,Tablet,Electronics,510,1,NaN,Steve,West
19,1020,2024-02-29,Headphones,Accessories,110,3,NaN,Tom,East

In [19]:
print("Veri Setinin Boyutu (Satır, Sütun):", df.shape)

Veri Setinin Boyutu (Satır, Sütun): (20, 9)

In [26]:
print("Eksik Veriler (Her sütundaki boş değer sayısı):")
print(df.isnull().sum())

Eksik Veriler (Her sütundaki boş değer sayısı):
TransactionID     0
Date              4
Product           0
Category          0
Price             0
Quantity          0
TotalPrice       20
Customer          3
Region            0
dtype: int64

In [27]:
print("Veri Türleri:")
print(df.dtypes)

Veri Türleri:
TransactionID      int64
Date              object
Product           object
Category          object
Price              int64
Quantity           int64
TotalPrice       float64
Customer          object
Region            object
dtype: object

In [28]:
df['TotalPrice'] = df['Price'] * df['Quantity']

In [30]:
print(df['TotalPrice'])

0     1200
1     1600
2      500
3      300
4      600
5      250
6      320
7      300
8     1100
9     1500
10     600
11     360
12     560
13     275
14     340
15     280
16    1250
17    1640
18     510
19     330
Name: TotalPrice, dtype: int64

In [33]:
df['Date'] = df['Date'].ffill()

In [34]:
df['Date'] = df['Date'].bfill()

In [37]:
most_frequent_customer = df['Customer'].mode()[0]
df['Customer'] = df['Customer'].fillna(most_frequent_customer)

In [38]:
print(df.isnull().sum())

TransactionID    0
Date             0
Product          0
Category         0
Price            0
Quantity         0
TotalPrice       0
Customer         0
Region           0
dtype: int64

In [39]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [41]:
print(df['Date'])

0    2024-02-10
1    2024-02-11
2    2024-02-12
3    2024-02-13
4    2024-02-13
5    2024-02-15
6    2024-02-16
7    2024-02-17
8    2024-02-18
9    2024-02-19
10   2024-02-19
11   2024-02-21
12   2024-02-22
13   2024-02-23
14   2024-02-24
15   2024-02-24
16   2024-02-26
17   2024-02-27
18   2024-02-27
19   2024-02-29
Name: Date, dtype: datetime64[ns]

In [56]:
category_sales = df.groupby('Category')['TotalPrice'].sum()
print("Kategori bazında toplam satışlar")
print(category_sales)

region_sales = df.groupby('Region')['TotalPrice'].sum()
print("\nBölgelere göre toplam satışlar")
print(region_sales)

top_customer = df.groupby('Customer')['TotalPrice'].sum().idxmax()
top_customer_sales = df.groupby('Customer')['TotalPrice'].sum().max()
print("\nEn fazla satış yapan müşteri ve toplam satış miktarı")
print(top_customer)
print(top_customer_sales)

expensive_products = df[df['Price'] > 500]
print("\nFiyatı 500'den fazla olan ürünler")
print(expensive_products)

electronics_sales = df[df['Category'] == 'Electronics']['TotalPrice'].sum()
print("\nElektronik ürünlerin toplam satışı")
print(electronics_sales)

Kategori bazında toplam satışlar
Category
Accessories     2755
Electronics    11060
Name: TotalPrice, dtype: int64

Bölgelere göre toplam satışlar
Region
East     1570
North    4710
South    5265
West     2270
Name: TotalPrice, dtype: int64

En fazla satış yapan müşteri ve toplam satış miktarı
Alice
3430

Fiyatı 500'den fazla olan ürünler
    TransactionID       Date     Product     Category  Price  Quantity  \
0            1001 2024-02-10      Laptop  Electronics   1200         1
1            1002 2024-02-11  Smartphone  Electronics    800         2
8            1009 2024-02-18      Laptop  Electronics   1100         1
9            1010 2024-02-19  Smartphone  Electronics    750         2
10           1011 2024-02-19      Tablet  Electronics    600         1
16           1017 2024-02-26      Laptop  Electronics   1250         1
17           1018 2024-02-27  Smartphone  Electronics    820         2
18           1019 2024-02-27      Tablet  Electronics    510         1

    TotalPrice Customer Region
0         1200    Alice  North
1         1600      Bob  South
8         1100      Ivy  North
9         1500     John  South
10         600     Kate   West
16        1250    Quinn  North
17        1640    Alice  South
18         510    Steve   West

Elektronik ürünlerin toplam satışı
11060

In [61]:
# 1. Veriyi JSON formatına çevirip kaydetme
json_file_path = r"C:\Users\Selin\Desktop\TurkcellGYK\Homework4\sales_data.json"
df.to_json(json_file_path, orient="records", indent=4)

# 2. Veriyi Excel formatına çevirip kaydetme
excel_file_path = r"C:\Users\Selin\Desktop\TurkcellGYK\Homework4\sales_data.xlsx"
df.to_excel(excel_file_path, index=False)

# Dosyaları kullanıcıya sunma
json_file_path, excel_file_path

('C:\\Users\\Selin\\Desktop\\TurkcellGYK\\Homework4\\sales_data.json',
 'C:\\Users\\Selin\\Desktop\\TurkcellGYK\\Homework4\\sales_data.xlsx')